<!doctype html>
<html>
<head>
<title>Superadmin Login</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="login-page">
<div class="login-card">
<img class="login-logo" src="/static/img/smart_data_final_logo.png" onerror="this.style.display='none'">
<h1>Superadmin Login</h1>
<form method="post">
<label>Email</label><input name="email" value="superadmin@sdinvoice.com">
<label>User ID</label><input name="user_id" value="superadmin">
<label>Password</label><input type="password" name="password" value="admin123">
<button>Login</button>
</form>
</div>
</body>
</html>
